@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply flex min-h-screen flex-col overflow-x-clip bg-background text-foreground;
  }
  main {
    @apply flex-1;
  }
  img {
    /* @apply h-auto w-auto; */
  }
  h1 {
    @apply font-heading text-5xl md:text-6xl lg:text-7xl;
  }
  h2 {
    @apply font-heading text-4xl md:text-5xl lg:text-6xl;
  }
  h3 {
    @apply font-heading text-3xl md:text-4xl lg:text-5xl;
  }
  h4 {
    @apply font-heading text-2xl md:text-3xl lg:text-4xl;
  }
  p {
    @apply text-lg !leading-relaxed lg:text-xl xl:text-2xl;
  }
}

@layer components {
  .section-heading {
    @apply mb-8;
  }
  .button {
    @apply rounded-xl border-2;
  }
  .buttons-row {
    @apply flex shrink-0 justify-end gap-2;
  }

  .portfolio-entry-container {
    @apply grid grid-cols-1 gap-10 md:grid-cols-2 md:p-8;
  }
  .portfolio-entry-image {
    @apply mx-auto w-full select-none rounded-t-lg md:rounded-lg;
    @apply md:aspect-square md:object-cover md:object-left;
  }
  .portfolio-entry-title {
    @apply mb-12 text-center sm:mb-8 md:mb-16;
  }
  .portfolio-entry-content {
    @apply flex grow flex-col justify-between p-4 text-justify text-lg sm:p-8 md:p-0;
  }
}

@layer utilities {
  .center {
    @apply mx-auto flex flex-col items-center justify-center;
  }
  .frame-border {
    @apply rounded-lg border;
  }
}
